body {
	text-align:justify ;
	text-justify:inter-word;
	font-family:Utopia;
	margin: 5% 10% ;
	font-size:15pt ;
	background-color:#FFFFFF;
	overflow:auto;
}


div.sidenote {
	float:right;
	margin:0% 1%;
	border: 2px solid black;
	padding: 2% 2%;
	max-width: 35%;
}
