/* Adapted from https://github.com/alphapapa/solarized-everything-css/blob/master/css/gruvbox/gruvbox-all-sites.css */

body {
	text-align:justify ;
	text-justify:inter-word;
	font-family:IBM Plex Serif;
	margin: 5% 15% ;
	font-size:15pt ;
	background-color: #4C5668 !important;
        color: #ECEFF4 !important;
	overflow:auto;
}


a {
  color: #D8DEE9 !important;
}
